body {
  padding: 0;
  margin: 0;
}

#chat {
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

#chat li {
  padding: 15px;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
}

#chat .system {
  color: #c33;
}

#chat .you {
  color: #333;
}

#chat .echo {
  color: #999;
  margin-top: -30px;
}

#form #input {
  position: fixed;
  top: 3px;
  left: 12px;
  right: 12px;
  padding: 6px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  border: 1px dotted #333;
  outline: none;
  background: #fff98f;
}
