#button_start {
  padding: 12px 24px;
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  letter-spacing: -3px;
}

#button_start:disabled {
  opacity: 0.5;
}

video {
  background: #333;
  border: 1px solid #000;
  box-shadow: #333 0 0 12px;
  position: fixed;
}

#video_local {
  top: 24px;
  right: 24px;
  height: 240px;
  width: 360px;
}

#video_remote {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
